<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 p-10 md:px-20">
    <div class="bg-white rounded-xl shadow-md overflow-hidden w-64">
        <div class="relative">
            <img class="w-64 object-cover" src=".\assets\anonymous-avatar-icon-cartoon-style-vector.jpg">
            <div class="absolute top-0 right-0 bg-indigo-500 text-white font-bold px-2 py-1 m-2 rounded-md">New
            </div>
            <div class="absolute bottom-0 right-0 bg-gray-800 text-black px-2 py-1 m-2 rounded-md text-xs">Active
            </div>
        </div>
        <div class="p-4">
            <div class="text-lg font-medium text-gray-800 mb-2">Samantha</div>
        </div>
    </div>


    <div class="bg-white rounded-xl shadow-md overflow-hidden w-64">
        <div class="relative">
            <img class="w-64 h-64 object-cover" src=".\assets\anonymous-person-icon-cartoon-style-vector.jpg">
            <div class="absolute bottom-0 right-0 bg-gray-800 text-black px-2 py-1 m-2 rounded-md text-xs">Not active
            </div>
        </div>
        <div class="p-4">
            <div class="text-lg font-medium text-gray-800 mb-2">Ének Elek</div>
        </div>
    </div>


    <div class="bg-white rounded-xl shadow-md overflow-hidden w-64">
        <div class="relative">
            <img class="w-full h-48 object-cover" src=".\assets\animalec.png">
            <div class="absolute top-0 right-0 bg-indigo-500 text-white font-bold px-2 py-1 m-2 rounded-md">New</div>
            <div class="absolute bottom-0 right-0 bg-gray-800 text-white px-2 py-1 m-2 rounded-md text-xs">Not active
            </div>
        </div>
        <div class="p-4">
            <div class="text-lg font-medium text-gray-800 mb-2">Péter</div>
            <p class="text-gray-500 text-sm">Péter</p>
        </div>
    </div>

    <div class="bg-white rounded-xl shadow-md overflow-hidden w-64">
        <div class="relative">
            <img class="w-full h-48 object-cover" src=".\assets\1-intro-photo-final.jpg">
            <div class="absolute bottom-0 right-0 bg-gray-800 text-white px-2 py-1 m-2 rounded-md text-xs">Active
            </div>
        </div>
        <div class="p-4">
            <div class="text-lg font-medium text-gray-800 mb-2">Valaki</div>
            <p class="text-gray-500 text-sm">Valaki</p>
        </div>
    </div>


    <div class="bg-white rounded-xl shadow-md overflow-hidden w-64">
        <div class="relative">
            <img class="w-full h-48 object-cover" src=".\assets\paperhead.jpg">
            <div class="absolute bottom-0 right-0 bg-gray-800 text-white px-2 py-1 m-2 rounded-md text-xs">Active
            </div>
        </div>
        <div class="p-4">
            <div class="text-lg font-medium text-gray-800 mb-2">Még Valaki</div>
            <p class="text-gray-500 text-sm">Még Valaki</p>
        </div>
    </div>


    <div class="bg-white rounded-xl shadow-md overflow-hidden w-64">
        <div class="relative">
            <img class="w-full h-48 object-cover" src=".\assets\anonymous.jpg">
            <div class="absolute bottom-0 right-0 bg-gray-800 text-white px-2 py-1 m-2 rounded-md text-xs">Not active
            </div>
        </div>
        <div class="p-4">
            <div class="text-lg font-medium text-gray-800 mb-2">Mrs. Lorem</div>
        </div>
    </div>


</div>
