<div>
<div>
    <select (change)="reload()" [(ngModel)]="chosenImage">
        <option *ngFor="let obj of feedObject" [ngValue]="obj">{{obj.id}}</option>
        <!-- <option value="OQyRttOV4l8">OQyRttOV4l8</option>
        <option value="5XP-n_Xqqv8">5XP-n_Xqqv8</option>
        <option value="Shf_B7x8gDA">Shf_B7x8gDA</option>
        <option value="lFAhbzmvpak">lFAhbzmvpak</option>
        <option value="eFXho78pQH8">eFXho78pQH8</option> -->
    </select>
</div>

<!--16-os sor vége:  [src]="'assets/' + chosenImage.id + '.jpg'"-->

<div class="container" *ngIf="chosenImage">
    <img class="feedImage" [src]="loadedImage"/>
    <div class="break"></div>
    <div>{{chosenImage.user_name}}</div>
    <div class="break"></div>
    <div>{{chosenImage.user_url}}</div>
    <div class="break"></div>
    <div>{{chosenImage.photo_url}}</div>

    <!-- Kommenteknek kialakított táblázat -->
    <div class="break"></div>
    <div *ngIf="comments.length">
        <table>
            <tr>
                <th>User</th>
                <th>Comment</th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let comment of comments; let i = index;" [ngClass]="i % 2 === 0 ? 'table-header-even' : 'table-header-odd'">
                <td>{{comment.username}}</td>
                <td>{{comment.comment}}</td>
                <td>{{comment.date | dateFormat}}</td>
            </tr>
        </table>
    </div>


    <!-- Kommentek hozzáadása a képekhez -->
    <div class="break"></div>
    <form [formGroup]="commentsForm" (ngSubmit)="addComment()">
        <div>
            <label for="username">Username: </label> <!--Erre valamiért hibát ad a devtools (a terminál és a kód nem!)-->
            <input type="text" formControlName="username"/>
        </div>
        <div class="break"></div>
        <div>
            <textarea rows="10" cols="50" formControlName="comment"></textarea>
        </div>
        <div class="break"></div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>

</div> 


</div>