/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    //background-color: #ffffff;
    //background-color: #460225; //46, 2, 25
    background-color: #94BFBE; //tiffany blue from picker
    //background-color: rgb(217, 206, 222);
    //background-color: #212121;
}

footer {
    background-color:rgb(165, 165, 165);
    color: rgb(26, 26, 26);
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
}

