
<form class="max-w-md mx-auto mt-8 mb-10">   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for names" required />
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
</form>


@if(people && people.length > 0){
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 p-10 md:px-20">
    @for(person of people; track $index){
            <div class="bg-white rounded-xl shadow-md overflow-hidden w-64">
                <div class="relative">
                    @if(person.profilePicture){
                        <img class="w-64 object-cover" [src]="person.pictureSafeUrl" loading="lazy">
                    }
                    @else{
                        <img class="w-64 object-cover" src="../../../assets/anonymous.jpg" loading="lazy">
                    }
                    <div class="absolute top-0 right-0 bg-indigo-500 text-white font-bold px-2 py-1 m-2 rounded-md">New
                    </div>
                    <div class="absolute bottom-0 right-0 bg-gray-800 text-black px-2 py-1 m-2 rounded-md text-xs">Active
                    </div>
                </div>
                <div class="p-4">
                    <div class="text-lg font-medium text-gray-800 mb-2">{{person.firstname}} {{person.lastname}}</div>
                </div>
            </div>    
    }
    </div>
}


